@mixin font-face($font-family, $path, $format, $font-style, $weight) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $weight;
    src: url($path) format($format);
  }
}

@mixin sans-serif($font, $size: null, $line-height: null) {
  font-family: $font, Arial, sans-serif;
  font-size: $size;
  line-height: $line-height;
}

@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

@mixin slide-check($element) {
  input {
    &:nth-of-type(#{$element}) {
      &:checked {
        ~ .slider > .slide#{$element} {
          @content;
        }
      }
    }
  }
}

@mixin slide-control($element) {
  input {
    &:nth-of-type(#{$element}) {
      &:checked {
        ~ .controls label:nth-of-type(#{$element}) {
          @content;
        }
      }
    }
  }
}
