$color-main: rgb(192, 82, 97);
$color-red-alfa: rgba(255, 0, 0, .2);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-button: rgb(215, 120, 133);
$color-button-hover: rgb(245, 160, 163);
$color-button-text-shadow: rgb(229, 171, 178);
$color-news: rgb(252, 203, 210);
